pyyaml
numpy>=2.0
Pillow
matplotlib
scipy>=1.8
tqdm
pandas>=2.2
click>=8.1.0
xarray>=2024
ipdb
gdown
PyYAML>=6.0
snakeviz
pint>=0.24
pint-xarray>=0.4
netcdf4>=1.7
contourpy>=1.2.1
toml>=0.10.2
typing-extensions>=4.12
seaborn>=0.12
h5py
omas==0.94.1
gspread>=6.0.0
oauth2client>=4.1.3
opencv-python
pytesseract
numpy
scipy
matplotlib

